[Unit]
Description=Monero Wallet RPC
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/environment
ExecStart=monero_wallet_rpc_run

[Install]
WantedBy=multi-user.target
