[Unit]
Description=Monero Wallet RPC
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/environment
ExecStart=/var/www/underground.pm/contrib/monero/run.sh

[Install]
WantedBy=multi-user.target
