[Unit]
Description=Privacy Hosting
Wants=network-online.target
Wants=libvirtd.service
Wants=postgresql.service
Wants=monerod.service
After=network-online.target
After=libvirtd.service
After=postgresql.service
After=monerod.service

[Service]
Type=simple
ExecStart=/usr/bin/underground
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
