[Unit]
Description=underground.pm
Wants=network-online.target
Wants=libvirtd.service
Wants=redis.service
Wants=monerod.service
After=network-online.target
After=libvirtd.service
After=redis.service
After=monerod.service

[Service]
Type=simple
User=root
ExecStart=underground_run

[Install]
WantedBy=multi-user.target
