[Unit]
Description=Privacy hosting
Wants=network-online.target
Wants=libvirtd.service
Wants=postgresql.service
Wants=monerod.service
After=network-online.target
After=libvirtd.service
After=postgresql.service
After=monerod.service

[Service]
Type=simple
User=root
ExecStart=underground_run

[Install]
WantedBy=multi-user.target
