{% extends "base.html" %}

{% block content %}
  <header>
    <div id="status">
      <div id="personal">
        {% if user is none %}
          <a class="btn0" href="/login">login</a>
          <a class="btn0" href="/register">register</a>
        {% else %}
          {% if server %}
            <a class="btn0" href="/dashboard">dashboard</a>
          {% endif %}
          <a class="btn0" href="/promo">promo</a>
          <form method="post" action="/auth/logout">
            <button class="btn0" type="submit">logout</button>
          </form>
        {% endif %}
      </div>
      {% if user %}
        <a id="balance" href="/balance">${{ user["balance"] | round(2) }}</a>
      {% endif %}
    </div>
  </header>
  <main>
    <div id="servers">
      <div id="vds-container">
        {% for vds in vdss %}
          <div class="vds">
            <span>vCPU: {{ vds["cores"] }}</span>
            <span>RAM: {{ vds["ram"] }}GB</span>
            <span>Disk: {{ vds["disk_size"] }}GB</span>
            <span>IPv4: {% if vds["ipv4"] %} Yes {% else %} No {% endif %}</span>
            <span>IPv6: {% if vds["ipv6"] %} Yes {% else %} No {% endif %}</span>
            <div class="bottom">
              <span>Price: $<span class="price">{{ vds["price"] }}</span>/mo</span>
              {% if in_stock[vds["id"]] %}
                <a class="btn1" href="/payment/buy/{{ vds['id'] }}">Buy Now</a>
              {% else %}
                <span class="btn4">Sold Out</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
  <footer>
    <article>
      <h2>About</h2>
      <p>Welcome to anonymous KVM hosting for cryptocurrency XMR, that doesn't spy its users!</p>
      <p>Also available on <a href="http://underupptqt5efxaxutkfgjikkwu2lsoosyyooxs45tqkeg7dfdytwqd.onion" target="_blank" style="color: #c145ff">.onion</a> and <a href="http://undergroundpm.i2p" target="_blank" style="color: #c145ff">.i2p</a>, all <a href="https://github.com/miraikumiko/underground" target="_blank">sources</a> is open and available under GPLv3 licence.</p>
      <p>We publish news at <a href="https://mastodon.social/@undergroundpm" target="_blank" style="color: #8c8dff">Mastodon</a>. If you need help you can write <a href="mailto:murrr@macaw.me">admin</a>.</p>
    </article>
    <div>
      <h2>FAQ</h2>
      <details>
        <summary>What ISO images are available?</summary>
        <ul>
          <li>Debian (12.8)</li>
          <li>Ubuntu (24.10)</li>
          <li>Fedora (41)</li>
          <li>CentOS Stream (10)</li>
          <li>Arch Linux (rolling)</li>
          <li>Gentoo (rolling)</li>
          <li>Alpine (3.20)</li>
          <li>FreeBSD (14.2)</li>
          <li>OpenBSD (7.6)</li>
        </ul>
        <hr>
      </details>
      <details>
        <summary>Disk encryption?</summary>
        <p>Yes. You can encrypt the disk during installation via VNC.</p>
        <hr>
      </details>
      <details>
        <summary>How to use VDS?</summary>
        <p>First you need to install the OS via VNC and then you can connect to it via SSH.</p>
        <hr>
      </details>
      <details>
        <summary>What is Monero (XMR)?</summary>
        <p>Anonymous and easy to use cryptocurrency accepted by this hosting. More info <a href="https://www.getmonero.org" target="_blank">here</a>.</p>
        <hr>
      </details>
      <details>
        <summary>Where to buy Monero (XMR)?</summary>
        <p>Usually you can find the exchange way on this site <a href="https://www.bestchange.com" target="_blank">BestChange</a>.</p>
        <hr>
      </details>
      <details>
        <summary>What is Tor and I2P?</summary>
        <p>Anonymous decentralized networks that will help you increase the level of anonymity when using this hosting. In Linux these programs are called <a href="https://www.torproject.org">tor</a> and <a href="https://i2pd.website">i2pd</a> and can be installed through the package manager.</p>
        <hr>
      </details>
      <details>
        <summary>Account deletion?</summary>
        <p>Hosting doesn't store any personal data so there is nothing to delete. Records of inactive servers and users are periodically deleted so you don't need to worry about it.</p>
        <hr>
      </details>
    </div>
  </footer>
{% endblock %}
