{% extends "base.html" %}

{% block content %}
  <div id="vnc-status">VNC: Not connected</div>
  <noscript>Please, enable JavaScript for this page, it doesn't contain any trackers.</noscript>
  <div id="vnc-screen"></div>
  <style>
    body {
      padding: 2% 3%;
      text-align: center;
    }
  </style>
  <script type="module">
    import RFB from '{{ url_for("static", path="noVNC/core/rfb.js") }}';

    const screen = document.querySelector("#vnc-screen");
    const url = `${window.location.protocol === "http:" ? "ws" : "wss"}://${window.location.host}/server/vnc/{{ server_id }}`;
    let rfb;
    let desktopName;

    function connectedToServer(e) {
      document.getElementById("vnc-status").textContent = "VNC: Connected successfully";
    }

    function disconnectedFromServer(e) {
      if (e.detail.clean) {
        document.getElementById("vnc-status").textContent = "VNC: Disconnected";
      } else {
        document.getElementById("vnc-status").textContent = "VNC: Something went wrong, connection is closed";
      }
    }

    rfb = new RFB(screen, url);
    rfb.addEventListener("connect", connectedToServer);
    rfb.addEventListener("disconnect", disconnectedFromServer);
    rfb.viewOnly = false;
    rfb.scaleViewport = false;
    rfb.background = null;
    rfb.focus();
  </script>
{% endblock %}
