{% extends "base.html" %}

{% block content %}
  <form class="form0" method="post" action="/api/payment/close">
    <h1>15:00</h1>
    <img src="data:image/png;base64,{{ qrcode }}" alt="qrcode">
    <input name="uri" value="{{ uri }}" disabled>
    <button class="btn1" type="submit">End payment request</button>
  </form>
  <script>
    let ttl = {{ ttl }};

    setInterval(() => {
      let minutes = Math.floor(ttl / 60);
      let seconds = ttl % 60;

      if (minutes >= 0 && seconds >= 0) {
        if (minutes < 10) minutes = `0${minutes}`;
        if (seconds < 10) seconds = `0${seconds}`;
        document.querySelector("h1").innerText = `${minutes}:${seconds}`;
        ttl--;
      } else {
        window.location.href = "/";
      }
    }, 1000);
  </script>
{% endblock %}
