{% extends "base.html" %}

{% block content %}
  <header>
    <div id="status">
      <div id="personal">
        <div class="dropdown">
          <button class="btn0">me</button>
          <div class="dropdown-content">
            <a class="btn0" href="/reset-password">Change password</a>
            <form method="post" action="/logout">
              <button class="btn0" type="submit">Logout</button>
            </form>
          </div>
        </div>
        <a class="btn0" href="/">store</a>
        <a class="btn0" href="/faq">faq</a>
      </div>
      <div id="other">
        <p id="course">1 XMR = ${{ course }}</p>
      </div>
    </div>
  </header>
  <main>
    <div id="servers">
      <table>
        <tr>
          <th></th>
          <th>IPv4</th>
          <th>IPv6</th>
          <th>Days</th>
        </tr>
        {% for server, status in servers_and_statuses %}
          <tr>
            <td id="status-{{ server['id'] }}" class="vds-status" style="background-color: {% if status['status'] == 'on' %}green{% else %}grey{% endif %}"></td>
            <td id="ipv4-{{ server['id'] }}">{{ status["ipv4"] }}</td>
            <td id="ipv6-{{ server['id'] }}">{{ status["ipv6"] }}</td>
            <td>{{ server["end_at"]|to_days }}</td>
            <td>
              <form method="post" action="/api/server/action/{{ server['id'] }}">
                <button class="btn0" style="display: contents; cursor: pointer;" type="submit"><img src="/static/img/system-shutdown-symbolic.svg" alt="power" style="width: 20px; padding: 0 8px; filter: brightness(0) invert(1);"></button>
              </form>
            </td>
            <td><a class="btn0" style="display: contents" href="/install/{{ server['id'] }}"><img src="/static/img/install.svg" alt="power" style="width: 20px; padding: 0 8px; filter: brightness(0) invert(1);"></a></td>
            <td><a class="btn0" style="display: contents" href="/vnc/{{ server['id'] }}"><img src="/static/img/video-display-symbolic.svg" alt="power" style="width: 20px; padding: 0 8px; filter: brightness(0) invert(1);"></a></td>
            <td><a class="btn0" style="display: contents" href="/pay/{{ server['id'] }}">pay</a></td>
            <td><a class="btn0" style="display: contents" href="/upgrademenu/{{ server['id'] }}">upgrade</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </main>
{% endblock %}
