{% extends "base.html" %}

{% block content %}
  <header>
    <div id="status">
      <div id="personal">
        {% if user is none %}
          <a class="btn0" href="/login">login</a>
          <a class="btn0" href="/register">register</a>
        {% else %}
          <div class="dropdown">
            <button class="btn0">{{ user.username }}</button>
            <div class="dropdown-content">
              <a class="btn0" href="/reset-password">Change password</a>
              <a class="btn0" href="/delete-account">Delete account</a>
              <form method="post" action="/logout">
                <button class="btn0" type="submit">Logout</button>
              </form>
            </div>
          </div>
          <a class="btn0" href="/">store</a>
        {% endif %}
        <a class="btn0" href="/faq">faq</a>
      </div>
      <div id="other">
        <p id="course">1 XMR = ${{ course }}</p>
      </div>
    </div>
  </header>
  <main>
    <div id="servers">
      <table>
        <tr>
          <th>IPv4</th>
          <th>Status</th>
          <th>Days</th>
        </tr>
        {% for server, status in servers_and_statuses %}
          <tr>
            <td id="ipv4-{{ server.id }}">{% if server.ipv4 %} {{ server.ipv4 }} {% else %} unknown {% endif %}</td>
            <td id="status-{{ server.id }}" class="vds-status">{{ status["status"] }}</td>
            <td>{{ server.end_at|to_days }}</td>
            <td>
              <form method="post" action="/api/server/action/{{ server.id }}">
                <button class="btn0" style="display: contents" type="submit"><i class="fas fa-power-off" style="font-size: 20px;"></i></button>
              </form>
            </td>
            <td><a class="btn0" style="display: contents" href="/install/{{ server.id }}">install</a></td>
            <td><a class="btn0" style="display: contents" href="/vnc/{{ server.id }}">vnc</a></td>
            <td><a class="btn0" style="display: contents" href="/pay/{{ server.id }}">pay</a></td>
            <td><a class="btn0" style="display: contents" href="/upgrademenu/{{ server.id }}">upgrade</a></td>
          </tr>
        {% endfor %}
        <script>
          const socket = new WebSocket(`${window.location.protocol === "https:" ? "wss" : "ws"}://${window.location.host}/api/server/statuses`);

          socket.onmessage = async (event) => {
            const data = JSON.parse(event.data);

            for (let i in data) {
              i = Number.parseInt(i, 5);
              document.getElementById(`ipv4-${i + 1}`).innerText = data[i].ipv4;
              document.getElementById(`status-${i + 1}`).innerText = data[i].status;
            }
          };

          socket.onerror = (error) => {
            const elements = document.getElementsByClassName("vds-status");

            for (let element of elements) {
              element.innerText = "unknown";
            }
          };
        </script>
      </table>
    </div>
  </main>
{% endblock %}
