{% extends "base.html" %}

{% block content %}
  <header>
    <div id="status">
      <div id="personal">
        {% if user is none %}
          <a class="btn0" href="/login">login</a>
          <a class="btn0" href="/register">register</a>
        {% else %}
          <div class="dropdown">
            <button class="btn0">me</button>
            <div class="dropdown-content">
              <a class="btn0" href="/reset-password">Change password</a>
              <a class="btn0" href="/delete-account">Delete account</a>
              <form method="post" action="/api/auth/logout">
                <button class="btn0" type="submit">Logout</button>
              </form>
            </div>
          </div>
          {% if servers %}
            <a class="btn0" href="/dashboard">dashboard</a>
          {% endif %}
        {% endif %}
        <a class="btn0" href="/">store</a>
      </div>
      <div id="other">
        <p id="course">1 XMR = ${{ course }}</p>
      </div>
    </div>
  </header>
  <main>
    <h1>FAQ</h1>
    <details class="faq-details">
      <summary>What ISO images are available?</summary>
      <ul>
        <li>Debian (12.8.0)</li>
        <li>Arch Linux (rolling)</li>
        <li>Gentoo (rolling)</li>
        <li>Alpine (3.20.3)</li>
        <li>FreeBSD (14.2)</li>
        <li>OpenBSD (7.6)</li>
      </ul>
      <hr>
    </details>
    <details class="faq-details">
      <summary>What is Monero (XMR)?</summary>
      <p>Anonymous and easy to use cryptocurrency accepted by this hosting. More info <a href="https://www.getmonero.org" target="_blank">here</a>.</p>
      <hr>
    </details>
    <details class="faq-details">
      <summary>Where to buy Monero (XMR)?</summary>
      <p>Usually you can find the exchange way on this site <a href="https://www.bestchange.com" target="_blank">BestChange</a>.</p>
      <hr>
    </details>
    <details class="faq-details">
      <summary>What is Tor and I2P?</summary>
      <p>Anonymous decentralized networks that will help you increase the level of anonymity when using this hosting. In Linux these programs are called <b class="glow">tor</b> and <b class="glow">i2pd</b> and can be installed through the package manager.</p>
      <hr>
    </details>
  </main>
{% endblock %}
