{% extends "base.html" %}

{% block content %}
  <form class="form0" method="post" action="/api/server/install/{{ server_id }}">
    <h2>Please select OS</h2>
    <select name="os">
      <option value="debian">Debian</option>
      <option value="arch">Arch</option>
      <option value="gentoo">Gentoo</option>
      <option value="alpine">Alpine</option>
      <option value="freebsd">FreeBSD</option>
      <option value="openbsd">OpenBSD</option>
    </select>
    <button class="btn2" type="submit">Submit</button>
  </form>
{% endblock %}
