{% extends "base.html" %}

{% block content %}
  <form class="form0" method="post" action="/api/auth/register-form">
    <h1>Register</h1>
    <input name="username" placeholder="Username" type="text" autocomplete="off" required>
    <input name="password" placeholder="Password" type="password" required>
    <img src="data:image/png;base64,{{ captcha }}" alt="captcha">
    <input name="captcha_id" type="hidden" value="{{ captcha_id }}">
    <input name="captcha_text" placeholder="Captcha" type="text" required>
    <button class="btn2" type="submit">Register</button>
  </form>
{% endblock %}
