{% extends "base.html" %}

{% block content %}
  <h1 style="text-align: center">Upgrade Menu</h1>
  <div id="servers">
    <div id="vps-container">
      {% for i in products %}
        <div class="vps">
          <span>vCPU: {{ products[i]["cores"] }} [{{ products[i]["cores_desc"] }}]</span>
          <span>RAM: {{ products[i]["ram"] }}GB [{{ products[i]["ram_desc"] }}]</span>
          <span>Disk: {{ products[i]["disk_size"] }}GB [{{ products[i]["disk_desc"] }}]</span>
          <span>IPv4: {% if products[i]["ipv4"] %} Yes {% else %} No {% endif %}</span>
          <span>IPv6: {% if products[i]["ipv6"] %} Yes {% else %} No {% endif %}</span>
          <div class="bottom">
            <span>Total: $<span class="price">{{ products[i]["price"] }}</span>/mo</span>
            <a class="btn1" href="/api/payment/upgrade/{{ server_id }}?product_id={{ i }}">Upgrade to</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
