{% extends "base.html" %}

{% block content %}
  <h1 style="text-align: center">Upgrade Menu</h1>
  <div id="servers">
    <div id="vds-container">
      {% for vds in vdss %}
        <div class="vds">
          <span>vCPU: {{ vds.cores }} [{{ vds.cores_desc }}]</span>
          <span>RAM: {{ vds.ram }}GB [{{ vds.ram_desc }}]</span>
          <span>Disk: {{ vds.disk_size }}GB [{{ vds.disk_desc }}]</span>
          <span>IPv4: {% if vds.ipv4 %} Yes {% else %} No {% endif %}</span>
          <span>IPv6: {% if vds.ipv6 %} Yes {% else %} No {% endif %}</span>
          <div class="bottom">
            <span>Total: $<span class="price">{{ vds.price }}</span>/mo</span>
            <a class="btn1" href="/upgrade/{{ server_id }}?product_id={{ vds.id }}">Upgrade to</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
