{% extends "base.html" %}

{% block content %}
  <div id="vnc-screen"></div>
  <style>
    body {
      padding: 2% 3%;
    }
  </style>
  <script type="module">
    import RFB from '/static/noVNC/core/rfb.js';

    const screen = document.querySelector("#vnc-screen");
    const url = `${window.location.protocol === "http:" ? "ws" : "wss"}://${window.location.host}/api/server/vnc/{{ server_id }}`;
    let rfb;
    let desktopName;

    rfb = new RFB(screen, url);
    rfb.viewOnly = false;
    rfb.scaleViewport = false;
    rfb.background = null;
    rfb.focus();
  </script>
{% endblock %}
